body{
    background-color: rgb(201, 201, 201);
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
}


footer{
  height:auto; /* Altura del footer */
  padding: 1px;
}

.navbar{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 100%;
    
}




.fixed-nav{
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  background-color: #000000; /* Asegura que el fondo sea visible */
  
}


.contenido{
  padding-bottom: 0px;
}

.ccontenido{
  padding-top: 60px;
}

.cont1{
  background-color: rgba(0, 0, 0, 0.438);
  padding: 10px;
  position: relative;
  top: -240px;
  border-radius: 5px;
}



.txt2{
  font-size: 60px;
  margin-top: 40px;
}

.veraut{
  background-color: orange;
  text-decoration: none;
  padding-inline: 20px;
  padding-block:10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: relative;
  top: -220px;
  
}


.cont2{
  background-color: rgba(0, 0, 0, 0.438);
  padding: 10px;
  position: relative;
  top: -350px;
  border-radius: 5px;
  width: 400px;
}

.vermas1{
  background-color: orange;
  text-decoration: none;
  padding-inline: 20px;
  padding-block:7px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: relative;
  top: -330px;
  left: -260px;
  
}



.cont3{
  background-color: rgba(0, 0, 0, 0.438);
  padding: 10px;
  position: relative;
  top: -350px;
  left: 560px;
  border-radius: 5px;
  width: 400px;
}

.vermas2{
  background-color: orange;
  text-decoration: none;
  padding-inline: 20px;
  padding-block:7px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: relative;
  top: -330px;
  left: 295px;
  
}



.banner{
    background-image:url(imagenes/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 20em;

  }

  .containerform1 {
    position: relative;
    border-radius: 15px;
    border: 10px solid white;
  }

  .backgroundd1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 145, 103);
    background-position: center;
    filter: blur(6px);
  }

  .divmessi{
    background-image: url(imagenes/10.png);
    background-position: center;
  }

  .contenttt1 {
    position: relative;
    z-index: 1;
    padding: 20px;
  }